@import "tailwindcss";

@theme {
  /* Main Colors */
  --color-primary: #000000;
  --color-primary-light: #FAF9F6;

  /* App/Background Colors */
  --color-app-bg: #CDB885;
  --color-app-surface: #EFE1B5;
  --color-app-border: #000000;

  /* Metric Specific Colors */
  --color-flowrate: #10b981;
  --color-pressure: #f59e0b;
  --color-temperature: #ef4444;

  /* Text Colors */
  --color-content-main: #000000;
  --color-content-muted: #000000;
}

* {
  margin: 20;
  padding: 20;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  @apply bg-app-bg text-content-main;
}